:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: 220 90% 50%;
  --secondary: 240 85% 30%;
  --accent: 50 100% 50%;
  --background: 210 20% 98%;
  --foreground: 210 30% 20%;
}

[data-theme="dark"] {
  --primary: 220 90% 60%;
  --secondary: 240 80% 40%;
  --accent: 50 100% 60%;
  --background: 210 30% 10%;
  --foreground: 210 30% 90%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, hsl(var(--primary)) 20%, hsl(var(--secondary)) 80%);
  color: hsl(var(--foreground));
}

#app {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 1280px;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }
}

a {
  font-weight: 500;
  color: hsl(var(--primary));
  text-decoration: inherit;
}
a:hover {
  color: hsl(var(--secondary));
}

button {
  background: hsl(var(--primary));
  color: hsl(var(--foreground));
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.2s ease;
  width: 100%;
  max-width: 200px;
}

button:hover {
  background: hsl(var(--secondary));
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  button {
    font-size: 1.2rem;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
  button {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

.time p {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.time p:hover {
  transform: scale(1.1);
  background-color: hsl(var(--primary));
}

h1, .timer h1 {
  color: hsl(var(--accent));
  text-shadow: 0 0 10px hsl(var(--accent)), 0 0 20px hsl(var(--accent));
}
